@mixin formatos ($color, $size, $height, $weight) {
    color: $color;
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}
footer{
    background-color: black;
    background-image: url("/Proyecto/Imagenes/manos.png");
    background-repeat: repeat;
    background-size: 4%;
    h3{
        font-family: 'Bree Serif', sans-serif; 
        @include formatos(white, 1.6rem, 2, normal)
    }
    p{
        font-family: 'Open Sans', sans-serif;
        @include formatos(white, 1rem, 2, lighter)
    }
}