@import "colores";
header{
    color: white;
    text-transform: uppercase; 
    font-size: 1.3rem;
    font-family: 'Bree Serif', sans-serif; 
    line-height: 2;
    font-weight: bold;
    nav{
        background-color: black;
    }
    img{
        transition: all 0.5s ease;
        &:hover{
            transform: scale(1.1, 1.1);
        }
    }
    .header__bg{
        background-image: url("../Imagenes/manos.png");
        background-repeat: repeat;
        background-size: 4%;
    }
    .nav-link{
        color: white !important;
        transition: all 0.5s ease;
        &:hover{
            color: black !important;
            background-color: $bg_fucsia;
            transform: rotate(2deg);
            border-radius: 5%;
            padding-left: 0.5rem;
        }
    }
    .navbar-dark .navbar-toggler {
        background-color: black;
        border-color: black;
        & .navbar-toggler-icon{
            background-image: url("../Imagenes/menu.png");
        }
    }
}